* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
  
  color: #EDEDED;
}
.header-container {
    background-color: #121212;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
}
header{
    width: 1920px;
    display: flex;
    align-items: center;
    gap:20px;
    position:sticky;
    top: 0; 
    background: #121212;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 1000;
    height: 90px
}
.separador{
    border-width: 1px;
    border-color: #ededed;
    position: sticky;
    top: 90px;
    z-index: 999;
    margin: 0px 30px 0px 30px;
    
}
nav{
    height: 70px;
    width: 1920px;
    top: 90px;
    position: sticky;
    background: #121212;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding-top: 11px;
    padding-bottom: 10px;
    z-index: 998;

}
nav a{
    display: flex;
    align-items: center;
    color:#EDEDED;
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 25px;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: rgb(12, 12, 12);
}
nav a:hover{
   transition: 0.5s;
    transform: scale(1.1);
    font-weight: bolder;

}
.seccion{
  width: 1920px;
  height: 920px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.8s ease;
}
.contenido {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}
.seccion.oscuro {
  background: #121212;
}

.seccion.claro {
  background: #1C1C1C;
}
.texto {
  font-size: 1.2rem;
  max-width: 500px;
  opacity: 0;
  transition: all 0.8s ease;
  transform: translateX(-60px);
}
.texto p{
   font-family: 'Monserrat', sans-serif;
}
.texto a{
    text-decoration: none;
    font-weight: bold;
  
}
.texto a:hover{
    transition: 0.5s;
    font-size: 1.4rem;
    font-weight: bold;
}
.texto2 {
  font-size: 1.3rem;
  opacity: 0;
  transform: translateX(-60px);
  transition: all 0.8s ease;
}
.texto2 p{
   font-family: 'Monserrat', sans-serif;
  }
.imagen {
  background: #2A2A2A;
  opacity: 0;
  transform: translateX(60px);
  transition: all 0.8s ease;
}
.seccion.active .texto {
  opacity: 1;
  transform: translateX(0);
  transition-delay: 0.2s;
}
.seccion.active .texto2 {
  opacity: 1;
  transform: translateX(0);
  transition-delay: 0.2s;
}

.seccion.active .imagen {
  opacity: 1;
  transform: translateX(0);
  transition-delay: 0.5s;
}
.seccion.active .imagenalt {
  opacity: 1;
  transform: translateX(0);
  transition-delay: 0.5s;
}
footer{
    padding: 30px;
    height: 100px;
    background-color: #121212;
    margin: 0 auto;display: flex;
    color:#EDEDED;
    text-decoration: none;
    justify-content: space-evenly;
    align-items: center;
}
footer a{
    text-decoration: none;
}